.explorar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.botao {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px; 
  margin-top: 30px; 
}
.btn {
  width: 100px; 
  padding: 12px; 
  font-size: 1.1rem;
  border-radius: 25px; 
}
.btn-primary {
  background-color: #8F0000;
  border: none; 
  color: white; 
  font-weight: 600;
} 
.btn-secondary {
  background: none;
  border: none;
  color: rgb(6, 6, 6);
  font-weight: 600;
}
.titulo {
    font-size: 1.2rem;
    color: rgb(0, 0, 0); 
    margin-top: 20px; 
    font-weight: 500;
    max-width: 100%;
  }
  .explorar img.foto {
    border-radius: 40px;
    width: 300px;
    height: auto;
    margin-bottom: 10px;
   }
   
.explorar p {
  text-decoration: none;
  font-weight: 700;
  list-style: none;
  color: #000;
}

